{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}
{% trans_default_domain 'FOSUserBundle' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SocialPro{% block title %} {% endblock %}- Bienvenue</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Fonts Online -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Muli+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

    <!-- Style Sheet -->
    <link rel="stylesheet" href="{{ asset ("public/css/owl.carousel.css") }}">
    <link rel="stylesheet" href="{{ asset ("public/css/main-style.css") }}">
    <link rel="stylesheet" href="{{ asset ("public/css/style.css") }}">
    <link rel="stylesheet" href="{{ asset ("public/css/ionicons.min.css") }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="main-wrapper">

    <!-- Top Toolbar -->
    <div class="toolbar">
        <div class="uou-block-1a blog">
            <div class="container">
                <ul class="social">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
                </ul>
                <ul class="authentication">
                    <li><a href="#">{{ app.user.username }}</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                </ul>

            </div>
        </div>
        <!-- end .uou-block-1a -->
    </div>
    <!-- end toolbar -->

    <div class="box-shadow-for-ui">
        <div class="uou-block-2b" >
            <div class="container"> <a href="#" class="logo"><img src="{{ asset("public/images/logo-dark.png") }}" alt=""></a>
                <nav class="nav" style="margin-top: 10px;">
                    <ul class="sf-menu">
                        <li class="active"><a href="{{ path('mainpage') }}"><i class="fa  fa-home"></i></a></li>
                        <li> <a href="{{ path('profile2') }}">Profil</a> </li>
                        <li> <a href="#">Services</a>
                            <ul>
                                <li><a href="#">Stage et Emploie</a></li>
                                <li><a href="#">Evenements et conférences</a></li>
                                <li><a href="#">Formations</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('project_homepage') }}">Projets et startups</a>
                        <ul>
                            <li><a href="{{ path('project_homepage') }}">Liste des Projets</a></li>
                            <li><a href="{{ path('project_myproject') }}">Mes Projets</a></li>
                            <li><a href="{{ path('project_add') }}">Ajouter Projet</a></li>
                        </ul>
                        </li>
                        <li> <a href="#">Statistiques</a>
                            <ul>
                                <li><a href="{{ path('project_stats_cout') }}">Statistiques des Projets</a>
                                    <ul>
                                        <li><a href="{{ path('project_stats_cout') }}">Statistiques sur le coût</a></li>
                                        <li><a href="{{ path('project_stats_domaine') }}">Statistiques sur les domaines</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Contact</a></li>

                    </ul>
                </nav>
            </div>
        </div>
        <!-- end .uou-block-2b -->
    </div>






    {% block contenent %}
    {% endblock %}







    <!-- Footer -->
    <div class="uou-block-4e">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6"> <a href="#" class="logo"><img src="{{ asset("public/images/logo-dark.png") }}" alt=""></a>
                    <ul class="contact-info has-bg-image contain" data-bg-image="images/footer-map-bg.png">
                        <li> <i class="fa fa-map-marker"></i>
                            <address>
                                Esprit | Z.I. Chotrana II - B.P. 160 - 2083 Pôle Technologique - El Ghazala
                            </address>
                        </li>
                        <li> <i class="fa fa-phone"></i> <a href="tel:#">(+216) 70 68 56 85</a> </li>
                        <li> <i class="fa fa-envelope"></i> <a href="mailto:#">Contact@esprit.tn</a> </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>Social Pro</h5>
                    <ul class="twitter-feed">
                        <li> La platforme le plus adhéquat pour booster votre carriére professionel... </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>Membres D'equipe Dev'Memes</h5>
                    <ul class="photos-list">
                        <li><img src="{{ asset('public/images/photostream4.jpg') }}" alt=""></li>
                        <li><img src="{{ asset('public/images/photostream6.jpg') }}" alt=""></li>
                        <li><img src="{{ asset('public/images/photostream3.jpg') }}" alt=""></li>
                        <li><img src="{{ asset('public/images/photostream2.jpg') }}" alt=""></li>
                        <li><img src="{{ asset('public/images/photostream1.jpg') }}" alt=""></li>
                        <li><img src="{{ asset('public/images/photostream.jpg') }}" alt=""></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>Newsletter</h5>
                    <p>Inscrivez-vous a notre Newsletter pour recevoir tous les nouveauté.</p>
                    <form class="newsletter-form" action="#">
                        <input type="email" placeholder="Enter your email address">
                        <input type="submit" class="btn btn-primary" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end .uou-block-4e -->

    <div class="uou-block-4a secondary dark">
        <div class="container">
            <ul class="links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
            <p>Copyright &copy; 2017 <a href="http:\\www.esprit.tn">ESPRIT | Dev'Memes </a>. All Rights reserved.</p>
        </div>
    </div>
    <!-- end .uou-block-4a -->



    <!-- Scripts -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{{ asset("public/js/jquery-2.1.3.min.js") }}"></script>
    <script src="{{ asset("public/js/bootstrap.js") }}"></script>
    <script src="{{ asset("public/js/plugins/superfish.min.js") }}"></script>
    <script src="{{ asset("public/js/jquery.ui.min.js") }} "></script>
    <script src="{{ asset("public/js/plugins/rangeslider.min.js") }}"></script>
    <script src="{{ asset("public/js/plugins/jquery.flexslider-min.js") }}"></script>
    <script src="{{ asset("public/js/uou-accordions.js") }}"></script>
    <script src="{{ asset("public/js/uou-tabs.js") }}" ></script>
    <script src="{{ asset ("public/js/plugins/select2.min.js") }}"></script>
    <script src="{{ asset("public/js/owl.carousel.min.js") }}"></script>
    <script src="{{ asset("public/js/gmap3.min.js") }}"></script>
    <script src="{{ asset("public/js/scripts.js") }}"></script>
    <script>

    </script>
</div>
</body>

</html>