{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
    {% if (is_granted('ROLE_INDIV')) %}
        <center><a href="{{ path('mainpage') }}">Acceder a votre espace Personel</a></center>
    {% else %}
        <center><a href="{{ path('mainpage_entreprise') }}">Acceder a votre espace Entreprise</a></center>
    {% endif %}
{% endblock fos_user_content %}
