{% trans_default_domain 'FOSUserBundle' %}

<h1 style="color: #232323; margin-bottom: 60px;" class="title-xlarge font-alt-2 weight-light mb-20">
    Inscription
</h1>
<br>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div>

        <div style="border: solid 1px; border-color: #d9d9d9" class="form-aux">{{ form_widget(form.roles) }}</div><br>
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'registration.submit'|trans }} " class="form-submit button pill large border-theme bkg-hover-theme color-theme color-hover-white" />
    </div>
{{ form_end(form) }}
<div style="position: absolute; left: 73%;top:29%;">
    <h4 class="title font-alt-2 mb-20">Alternatives pour se connecter: </h4>
    <a href="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}"><img width="200px" src="{{ asset('public/images/Social/facebook.png') }}"></a><br>
    <a href="{{ url("hwi_oauth_service_redirect", {service: "google"}) }}"><img width="200px" src="{{ asset('public/images/Social/google.png') }}"></a><br>
    <a href="{{ url("hwi_oauth_service_redirect", {service: "linkedin"}) }}"><img width="200px" src="{{ asset('public/images/Social/linkedin.png') }}"></a>


</div>