{% extends '@SocialProMain/layout.html.twig' %}

{% block contenent %}

    <script src="jquery.min.js"></script>

    <!-- Post Create Box-->
    <div style=" border: solid 1px; border-radius: 8px;  border-color: gainsboro; box-shadow: 1px 1px 1px gainsboro; margin:20px 20% 20px 20%; background-color: white; padding: 20px; padding-top: 5px; padding-bottom: 5px; ">
        <form method="post" action="">
        <div style="margin-left: 10%; margin-right: 10%; margin-top:20px;margin-bottom: 20px; ">
            <div class="row">
                <div>
                    <div class="form-group">
                        <textarea name="publication" id="exampleTextarea" cols="30" rows="2"  placeholder="Ecrire ce que vous voulez..."></textarea>
                    </div>
                </div>
            </div>

            <div >
                <div>
                    <input type="submit" class="btn btn-primary" value="Publier">
                    <ul class="publishing-tools list-inline" style="position: absolute; top: 75%; left: 28%">
                        <li><a href="#"><i class="ion-compose"></i></a></li>
                        <li><a href="#"><i class="ion-images"></i></a></li>
                        <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                        <li><a href="#"><i class="ion-map"></i></a></li>
                        <li style="margin-left: 20%"></li>
                    </ul>
                </div>
            </div>
        </div><!-- Post Create Box End-->
            </form>

    </div>


    <div style=" border: solid 1px; border-radius: 8px;  border-color: gainsboro; box-shadow: 1px 1px 1px gainsboro;margin: 0px 20% 20px 20%; background-color: white; padding: 20px; padding-top: 5px; ">
        <h5 style="margin-bottom: 10px;"> Publications des amis:</h5>


        <div style="margin: 10px;">

            {% for status in array %}

                <div >
                    <div style="position: relative;  border: solid 1px; border-radius: 5px; margin-bottom: 20px; padding-top: 20px; border-color: #d9d9d9">
                        <div>
                            <a href="#">
                                {% if status.picture is null %}
                                <img style="position:absolute;top:15px; left:15px; height: 60px; width: 60px; border-radius: 50%; " src="{{ asset('public/images/avatar.png') }}" alt="...">

                                        {% else %}
                                    <img style="position:absolute;top:15px; left:15px; height: 60px; width: 60px; border-radius: 50%;"src="{{ status.picture }}" alt="...">
                                {% endif %}
                                    </a>
                        </div>
                        <div style="position: relative; left: 13%;">
                            <div style="margin-right: 8%;">
                          <a href="{{ path('profile2') }}">  <b>{{ status.username }}</b></a>
                         <div style="margin-top: 5px;"><p>{{ status.status }}</p></div></div>

                        </div>

                        <table style="background-color: #eeeeee; margin: 0px;">
                            <tr>
                                <td width="70px">{{ status.voted }}</td>
                                {% if( status.voted == 0) %}
                                <td width="180px"><a href="{{ path('Vote_Post',{'id':status.id}) }}" title="Love it" class="boutton" data-count="0"><span>&#x2764;</span> Love it </a></td>
                                {% else %}
                                <td width="180px"><a style="color: grey" title="Love it" class="boutton" data-count="0"><span>&#x2764;</span> Loved it! </a></td>
                                {% endif %}
                                <td><a href="{{ path('commenter_post',{'id':status.id}) }}" title="Love it" class="boutton" data-count="0"><span>&#x23CF;</span> Commenter</a></td>
                            </tr>
                        </table>

                    </div>

                </div>

            {% endfor %}


        </div>
    </div>


{% endblock %}