{% extends "SocialProMainBundle::layout.html.twig" %}


{% block contenent %}


    <body>
    <div id="main-wrapper">



        <!-- end .uou-block-2b -->


        <!-- Compny Profile -->
        <div class="compny-profile">

            <!-- Profile Company Content -->
            <div class="profile-company-content" data-bg-color="fff">
                <div class="container">


                    <!-- Share -->
                    <div>
                        <p>Partage ton profil sur les réseaux sociaux</p>
                        <a class="fa fa-facebook-official" target="_blank"
                           href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%2Fsocialproalpha%2Fweb%2Fapp_dev.php%2Fpersonne&amp;src=sdkpreparse">     </a>
                        </a></a>

                        <a class="g-plusone" data-size="small"></a>
                        <script type="text/javascript">
                            window.___gcfg = {lang: 'fr'};

                            (function() {
                                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                po.src = 'https://apis.google.com/js/platform.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                            })();
                        </script>

                        <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                        <script type="IN/Share" data-url="http://127.0.0.1/socialproalphaFay/web/app_dev.php/personne/profile2"></script>
                    </div>
                </div>


                <div class="row">

                    <!-- SIDE BAR -->
                    <div class="col-md-4">


                        <!-- Company Information -->
                        <div class="sidebar">
                            <h1 class="main-title">Hello, {{ app.user.username }} !</h1>

                            <!-- modif acces-->


                            <div class="sidebar-thumbnail">
                                <img src=" {{ asset("public/images/fay.png") }}" alt="">

                                <div class="row">
                                    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                                        <div class="thumbnail">


                                            <div class="row">
                                                <div class="form-group col-lg-4 col-md-8 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-2">

                                                    <br><br>

                                                    {#  <h5>{{ app.user.nom }}</h5>
                                                    {#{{ app.user.sexe }}
                                                     {{ app.user.datedenaissance|date('Y-m-d') }}
                                                     {{ app.user.addressemailperso }}

                                                     {{ app.user.occupationcourante }}
                                                     {{ app.user.addresseoccupationcourante }}#}

                                                </div></div>

                                            <p></p>

                                        </div>
                                    </div>
                                </div>







                            </div>






                            <div class="sidebar-information">
                                <div class="profile-usermenu">
                                    <ul class="nav nav-links">
                                        <li> <a href="{{ path('networkfriends') }}"><i class="fa fa-heart-o " ></i> Network </a> </li>
                                        <li> <a href="{{ path('parametresentreprise') }}"> <i class="fa fa-cog"></i> Account Settings </a> </li>
                                        <li> <a href="#."> <i class="fa fa-group"></i> Bookmarks </a> </li>
                                        <li> <a href="#."> <i class="fa fa-plus-circle"></i> Upgrade My Account </a> </li>
                                        <li> <a href="{{ path('fos_user_security_logout') }}"> <i class="fa fa-sign-out"></i> Sign out </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>





                    <!-- Tab Content -->
                    <div class="col-md-8">
                        <div class="network">
                            <h4>Network</h4>






                            <!-- Nav Tabs -->
                            <div>

                            </div>



                        </div>

                        <!-- Tab Content -->
                        <div class="tab-content">

                            <!-- Connections -->
                            <div id="connec" class="tab-pane fade in active">
                                <div class="net-work-in">

                                    <!-- Filter -->
                                    <div class="filter-flower">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                {#<ul>
                                                    <li><a href="#." class="active">Show All</a></li>
                                                    <li><a href="#."><i class="fa fa-user"></i> Professionals</a></li>
                                                    <li><a href="#."><i class="fa fa-building-o"></i> Companies</a></li>
                                                </ul>#}
                                            </div>


                                        </div>
                                    </div>


                                    <!-- MEMBER -->
                                    <li>
                                        <div class="row">
                                            <!-- Title -->
                                            <div class="col-xs-4">

                                                <!-- Name -->
                                                <div class="fol-name">

                                                    <div class="avatar"> <img src="" alt=""> </div>

                                                    {#
                                                                                                        <table align="center">
                                                                                                            {% for friend in m %}
                                                                                                                <tr><td> {{ friend.id }}</a></td></tr>
                                                                                                            {% endfor %}
                                                                                                        </table>#}
                                                    {#
                                                                                                        <h6>{{  }}</h6>
                                                                                                        <span>Web Developer</span> </div>
                                                                                                </div>
                                                                                                <!-- Location -->
                                                                                                <div class="col-xs-3 n-p-r"> <span>San Francisco, USA</span> </div>
                                                                                                <!-- Network -->
                                                                                                <div class="col-xs-3 n-p-r"> <span> <button class="btn btn-primary">Visiter</button></span> </div>
                                                                                                <!-- Connections -->
                                                                                                <div class="col-xs-2 n-p-r"> <span> <button class="btn btn-primary">Supprimer</button></span> </div>
                                                                                       #}     </div>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>








                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <!-- Footer -->
    <div class="uou-block-4e">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6"> <a href="#" class="logo"><img src="images/logo.png" alt=""></a>
                    <ul class="contact-info has-bg-image contain" data-bg-image="images/footer-map-bg.png">
                        <li> <i class="fa fa-map-marker"></i>
                            <address>
                                795 Folsom Ave, Suite 600, San Francisco, CA 94107
                            </address>
                        </li>
                        <li> <i class="fa fa-phone"></i> <a href="tel:#">(123) 456-7890</a> </li>
                        <li> <i class="fa fa-envelope"></i> <a href="mailto:#">first.last@example.com</a> </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>Twitter Feed</h5>
                    <ul class="twitter-feed">
                        <li> RT <a href="#">@no1son</a>: Now this <a href="#">http://t.co/TSfMW1qMAW</a> is one hell of a stunning site!!! Awesome work guys <a href="#">@AIRNAUTS</a> <a href="#" class="time">May 25</a> </li>
                        <li> Check out the wordpress version of Tucson - <a href="#">http://t.co/sBlU3GbapT</a> <a href="#" class="time">May 22</a> </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>Photostream</h5>
                    <ul class="photos-list">
                        <li><img src="images/photostream4.jpg" alt=""></li>
                        <li><img src="images/photostream6.jpg" alt=""></li>
                        <li><img src="images/photostream3.jpg" alt=""></li>
                        <li><img src="images/photostream2.jpg" alt=""></li>
                        <li><img src="images/photostream1.jpg" alt=""></li>
                        <li><img src="images/photostream.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>Newsletter</h5>
                    <p>Subscribe to our newsletter to receive our latest news and updates. We do not spam.</p>
                    <form class="newsletter-form" action="#">
                        <input type="email" placeholder="Enter your email address">
                        <input type="submit" class="btn btn-primary" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end .uou-block-4e -->

    <div class="uou-block-4a secondary dark">
        <div class="container">
            <ul class="links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
            <p>Copyright &copy; 2015 <a href="#">UOUAPPS</a>. All Rights reserved.</p>
        </div>
    </div>
    <!-- end .uou-block-4a -->



    <!-- Scripts -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/superfish.min.js"></script>
    <script src="js/jquery.ui.min.js"></script>
    <script src="js/plugins/rangeslider.min.js"></script>
    <script src="js/plugins/jquery.flexslider-min.js"></script>
    <script src="js/uou-accordions.js"></script>
    <script src="js/uou-tabs.js"></script>
    <script src="js/plugins/select2.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/gmap3.min.js"></script>
    <script src="js/scripts.js"></script>

    {# <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}">

     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
     <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
 #}

    <div id="fb-root"></div>

    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </body>


    <script type="text/javascript">
        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $("#profilenav").addClass("active");

        });



    </script>

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>




{% endblock %}

