{% extends "SocialProMainBundle::layout.html.twig" %}


{% block contenent %}

    <body>
    <div id="main-wrapper">



        <!-- end .uou-block-2b -->


        <!-- Compny Profile -->
        <div class="compny-profile">

            <!-- Profile Company Content -->
            <div class="profile-company-content" data-bg-color="fff">
                <div class="container">

                    <div class="fb-share-button" data-href="http://127.0.0.1/socialproalpha/web/app_dev.php/personne"
                         data-layout="button" data-size="large" data-mobile-iframe="false">
                        <a class="fb-xfbml-parse-ignore" target="_blank"
                           href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%2Fsocialproalpha%2Fweb%2Fapp_dev.php%2Fpersonne&amp;src=sdkpreparse">Share your SocialPro profile on Facebook!</a>
                    </div>

                    <div class="row">

                        <!-- SIDE BAR -->
                        <div class="col-md-4">
                            <!-- Company Information -->
                            <div class="sidebar">
                                <h1 class="main-title">Hello, {{ app.user.username }} !</h1>
                                <div class="sidebar-thumbnail"> <img src="images/avatar.jpg" alt=""> </div>
                                <div class="sidebar-information">
                                    <div class="profile-usermenu">
                                        <ul class="nav nav-links">
                                            <li> <a href="{{ path('parametresprofil') }}"> <i class="fa fa-cog"></i> Account Settings </a> </li>
                                            <li class="active"> <a href={{ path('networkfriends') }}><i class="fa fa-heart-o"></i> Network </a> </li>
                                            <li> <a href="#."> <i class="fa fa-group"></i> Bookmarks </a> </li>
                                            <li> <a href="#."> <i class="fa fa-plus-circle"></i> Upgrade My Account </a> </li>
                                            <li> <a href="{{ path('fos_user_security_logout') }}"> <i class="fa fa-sign-out"></i> Sign out </a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>





                        <!-- Tab Content -->
                        <div class="col-md-8">
                            <div class="network">
                                <h4>Network</h4>





                                <!-- Nav Tabs -->
                                <div>

                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#connec">Connections (202)</a></li>
                                    <li><a data-toggle="tab" href="#flow">Followers (23)</a></li>
                                    <li><a data-toggle="tab" href="#flowing">Following (100)</a></li>
                                </ul>
                            </div>

                            <!-- Tab Content -->
                            <div class="tab-content">

                                <!-- Connections -->
                                <div id="connec" class="tab-pane fade in active">
                                    <div class="net-work-in">

                                        <!-- Filter -->
                                        <div class="filter-flower">
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <ul>
                                                        <li><a href="#." class="active">Show All</a></li>
                                                        <li><a href="#."><i class="fa fa-user"></i> Professionals</a></li>
                                                        <li><a href="#."><i class="fa fa-building-o"></i> Companies</a></li>
                                                    </ul>
                                                </div>

                                                <!-- Short -->
                                                <div class="col-sm-5">
                                                    <select>
                                                        <option>Sort</option>
                                                        <option>Sort</option>
                                                        <option>Sort</option>
                                                        <option>Sort</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Members -->
                                        <div class="main-mem">

                                            <!-- Head -->
                                            <div class="head">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <button disabled><i class="fa fa-user-plus"></i>Follow</button>
                                                        <button disabled><i class="fa fa-trash"></i>Delete</button>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <form>
                                                            <input type="search" placeholder="Search">
                                                            <button type="submit"><i class="fa fa-search"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Tittle -->
                                            <div class="tittle">
                                                <ul class="row">
                                                    <li class="col-xs-4"> <span>Title</span> </li>
                                                    <li class="col-xs-3"> <span>Location</span> </li>
                                                    <li class="col-xs-3"> <span>Network</span> </li>
                                                    <li class="col-xs-2 n-p-r n-p-l"> <span>Connections</span> </li>
                                                </ul>
                                            </div>

                                            <!-- Tittle -->
                                            <div class="folow-persons">
                                                <ul>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox1" class="styled" type="checkbox">
                                                                    <label for="checkbox1"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox2" class="styled" type="checkbox">
                                                                    <label for="checkbox2"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox3" class="styled" type="checkbox">
                                                                    <label for="checkbox3"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox4" class="styled" type="checkbox">
                                                                    <label for="checkbox4"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox5" class="styled" type="checkbox">
                                                                    <label for="checkbox5"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox6" class="styled" type="checkbox">
                                                                    <label for="checkbox6"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox7" class="styled" type="checkbox">
                                                                    <label for="checkbox7"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Followers -->
                                <div id="flow" class="tab-pane fade">
                                    <div class="net-work-in">

                                        <!-- Filter -->
                                        <div class="filter-flower">
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <ul>
                                                        <li><a href="#." class="active">Show All</a></li>
                                                        <li><a href="#."><i class="fa fa-user"></i> Professionals</a></li>
                                                        <li><a href="#."><i class="fa fa-building-o"></i> Companies</a></li>
                                                    </ul>
                                                </div>

                                                <!-- Short -->
                                                <div class="col-sm-5">
                                                    <select>
                                                        <option>Sort</option>
                                                        <option>Sort</option>
                                                        <option>Sort</option>
                                                        <option>Sort</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Members -->
                                        <div class="main-mem">

                                            <!-- Head -->
                                            <div class="head">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <button disabled><i class="fa fa-user-plus"></i>Follow</button>
                                                        <button disabled><i class="fa fa-trash"></i>Delete</button>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <form>
                                                            <input type="search" placeholder="Search">
                                                            <button type="submit"><i class="fa fa-search"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Tittle -->
                                            <div class="tittle">
                                                <ul class="row">
                                                    <li class="col-xs-4"> <span>Title</span> </li>
                                                    <li class="col-xs-3"> <span>Location</span> </li>
                                                    <li class="col-xs-3"> <span>Network</span> </li>
                                                    <li class="col-xs-2 n-p-r n-p-l"> <span>Connections</span> </li>
                                                </ul>
                                            </div>

                                            <!-- Tittle -->
                                            <div class="folow-persons">
                                                <ul>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox1-1" class="styled" type="checkbox">
                                                                    <label for="checkbox1-1"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox1-2" class="styled" type="checkbox">
                                                                    <label for="checkbox1-2"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox1-3" class="styled" type="checkbox">
                                                                    <label for="checkbox1-3"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox1-4" class="styled" type="checkbox">
                                                                    <label for="checkbox1-4"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox1-5" class="styled" type="checkbox">
                                                                    <label for="checkbox1-5"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox1-6" class="styled" type="checkbox">
                                                                    <label for="checkbox1-6"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox1-7" class="styled" type="checkbox">
                                                                    <label for="checkbox1-7"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Following -->
                                <div id="flowing" class="tab-pane fade">
                                    <div class="net-work-in">

                                        <!-- Filter -->
                                        <div class="filter-flower">
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <ul>
                                                        <li><a href="#." class="active">Show All</a></li>
                                                        <li><a href="#."><i class="fa fa-user"></i> Professionals</a></li>
                                                        <li><a href="#."><i class="fa fa-building-o"></i> Companies</a></li>
                                                    </ul>
                                                </div>

                                                <!-- Short -->
                                                <div class="col-sm-5">
                                                    <select>
                                                        <option>Sort</option>
                                                        <option>Sort</option>
                                                        <option>Sort</option>
                                                        <option>Sort</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Members -->
                                        <div class="main-mem">

                                            <!-- Head -->
                                            <div class="head">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <button disabled><i class="fa fa-user-plus"></i>Follow</button>
                                                        <button disabled><i class="fa fa-trash"></i>Delete</button>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <form>
                                                            <input type="search" placeholder="Search">
                                                            <button type="submit"><i class="fa fa-search"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Tittle -->
                                            <div class="tittle">
                                                <ul class="row">
                                                    <li class="col-xs-4"> <span>Title</span> </li>
                                                    <li class="col-xs-3"> <span>Location</span> </li>
                                                    <li class="col-xs-3"> <span>Network</span> </li>
                                                    <li class="col-xs-2 n-p-r n-p-l"> <span>Connections</span> </li>
                                                </ul>
                                            </div>

                                            <!-- Tittle -->
                                            <div class="folow-persons">
                                                <ul>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox2-1" class="styled" type="checkbox">
                                                                    <label for="checkbox2-1"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox2-2" class="styled" type="checkbox">
                                                                    <label for="checkbox2-2"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox2-3" class="styled" type="checkbox">
                                                                    <label for="checkbox2-3"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox2-4" class="styled" type="checkbox">
                                                                    <label for="checkbox2-4"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox2-5" class="styled" type="checkbox">
                                                                    <label for="checkbox2-5"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox2-6" class="styled" type="checkbox">
                                                                    <label for="checkbox2-6"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>

                                                    <!-- MEMBER -->
                                                    <li>
                                                        <div class="row">
                                                            <!-- Title -->
                                                            <div class="col-xs-4">
                                                                <!-- Check Box -->
                                                                <div class="checkbox">
                                                                    <input id="checkbox2-7" class="styled" type="checkbox">
                                                                    <label for="checkbox2-7"></label>
                                                                </div>
                                                                <!-- Name -->
                                                                <div class="fol-name">
                                                                    <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                    <h6>Collin Weiland</h6>
                                                                    <span>Web Developer</span> </div>
                                                            </div>
                                                            <!-- Location -->
                                                            <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                            <!-- Network -->
                                                            <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                            <!-- Connections -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Footer -->
    <div class="uou-block-4e">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6"> <a href="#" class="logo"><img src="images/logo.png" alt=""></a>
                    <ul class="contact-info has-bg-image contain" data-bg-image="images/footer-map-bg.png">
                        <li> <i class="fa fa-map-marker"></i>
                            <address>
                                795 Folsom Ave, Suite 600, San Francisco, CA 94107
                            </address>
                        </li>
                        <li> <i class="fa fa-phone"></i> <a href="tel:#">(123) 456-7890</a> </li>
                        <li> <i class="fa fa-envelope"></i> <a href="mailto:#">first.last@example.com</a> </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>Twitter Feed</h5>
                    <ul class="twitter-feed">
                        <li> RT <a href="#">@no1son</a>: Now this <a href="#">http://t.co/TSfMW1qMAW</a> is one hell of a stunning site!!! Awesome work guys <a href="#">@AIRNAUTS</a> <a href="#" class="time">May 25</a> </li>
                        <li> Check out the wordpress version of Tucson - <a href="#">http://t.co/sBlU3GbapT</a> <a href="#" class="time">May 22</a> </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>Photostream</h5>
                    <ul class="photos-list">
                        <li><img src="images/photostream4.jpg" alt=""></li>
                        <li><img src="images/photostream6.jpg" alt=""></li>
                        <li><img src="images/photostream3.jpg" alt=""></li>
                        <li><img src="images/photostream2.jpg" alt=""></li>
                        <li><img src="images/photostream1.jpg" alt=""></li>
                        <li><img src="images/photostream.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>Newsletter</h5>
                    <p>Subscribe to our newsletter to receive our latest news and updates. We do not spam.</p>
                    <form class="newsletter-form" action="#">
                        <input type="email" placeholder="Enter your email address">
                        <input type="submit" class="btn btn-primary" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end .uou-block-4e -->

    <div class="uou-block-4a secondary dark">
        <div class="container">
            <ul class="links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
            <p>Copyright &copy; 2015 <a href="#">UOUAPPS</a>. All Rights reserved.</p>
        </div>
    </div>
    <!-- end .uou-block-4a -->



    <!-- Scripts -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/superfish.min.js"></script>
    <script src="js/jquery.ui.min.js"></script>
    <script src="js/plugins/rangeslider.min.js"></script>
    <script src="js/plugins/jquery.flexslider-min.js"></script>
    <script src="js/uou-accordions.js"></script>
    <script src="js/uou-tabs.js"></script>
    <script src="js/plugins/select2.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/gmap3.min.js"></script>
    <script src="js/scripts.js"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </body>



{% endblock %}

