{% extends "SocialProMainBundle::layout.html.twig" %}



{% block contenent %}



    <!doctype html>
    <html lang="en">

    <!-- Mirrored from new.uouapps.com/tiger-html/profile_company.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Jan 2017 22:17:24 GMT -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">


        <!-- Fonts Online -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


        <!-- Style Sheet -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/main-style.css">
        <link rel="stylesheet" href="css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
    <div id="main-wrapper">



        <div class="box-shadow-for-ui">

        </div>
        <!-- end .uou-block-2b -->

        <div class="compny-profile">
            <!-- SUB Banner -->
            <div class="profile-bnr">
                <div class="container">


                    <!-- Modal POPUP -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="container">
                                    <h6><a class="close" href="#." data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a> Send Message</h6>

                                    <!-- Forms -->
                                    <form action="#">
                                        <ul class="row">
                                            <li class="col-xs-6">
                                                <input type="text" placeholder="First Name ">
                                            </li>
                                            <li class="col-xs-6">
                                                <input type="text" placeholder="Last Name">
                                            </li>
                                            <li class="col-xs-6">
                                                <input type="text" placeholder="Country">
                                            </li>
                                            <li class="col-xs-6">
                                                <input type="text" placeholder="Email">
                                            </li>
                                            <li class="col-xs-12">
                                                <textarea placeholder="Your Message"></textarea>
                                            </li>
                                            <li class="col-xs-12">
                                                <button class="btn btn-primary">Send message</button>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Profile Company Content -->
                <div class="profile-company-content main-user" data-bg-color="f5f5f5">
                    <div class="container">
                        <div class="row">



                            <!-- SIDE BAR -->
                            <div class="col-md-5">

                                <!-- Company Information -->
                                <div class="sidebar">
                                    <h5 class="main-title">Informations personnelles</h5>
                                    <div class="sidebar-thumbnail"> <img src=" {{ asset("public/images/fay.png") }}" alt=""> </div>
                                    <div class="sidebar-information">
                                        <ul class="single-category">

                                            <li class="row">
                                                <h6 class="title col-xs-6"> {{ app.user.nom }}
                                                </h6>
                                                <span class="subtitle col-xs-6"></span> </li>

                                            <li class="row">
                                                <h6 class="title col-xs-6">Sexe</h6>
                                                <span class="subtitle col-xs-6">{{ app.user.sexe }}</span> </li>

                                            <li class="row">
                                                <h6 class="title col-xs-6">Date de naissance</h6>
                                                <span class="subtitle col-xs-6">{{ app.user.datedenaissance|date('Y-m-d') }}</span> </li>

                                            <li class="row">
                                                <h6 class="title col-xs-6">Pays</h6>
                                                <span class="subtitle col-xs-6">{{ app.user.pays }}</span> </li>

                                            <li class="row">
                                                <h6 class="title col-xs-6"><p>{{ app.user.description }}</p></h6>
                                                <span class="subtitle col-xs-6"></span> </li>

                                            <li class="row">
                                                <h6 class="title col-xs-6">Adresse mail personnelle</h6>
                                                <span class="subtitle col-xs-6">{{ app.user.addressemailperso }}</span> </li>

                                            <li class="row">
                                                <h6 class="title col-xs-6">Occupation actuelle</h6>
                                                <span class="subtitle col-xs-6">{{ app.user.job }}</span> </li>
                                            <li class="row">
                                                <h6 class="title col-xs-6">à</h6>
                                                <span class="subtitle col-xs-6">{{ app.user.addressjob }}</span> </li>
                                           {# <li class="row">
                                                <h6 class="title col-xs-6">Contact</h6>
                                                <div class="col-xs-6"> <span class="subtitle">*****************<i class="fa fa-exclamation-circle"></i></span> <span class="subtitle">***************** <i class="fa fa-exclamation-circle"></i></span> <a href="#.">example@example.com</a> <a href="#.">example.com</a> </div>
                                            </li>#}

                                            <li>
                                                <div class="listing-content">
                                                    <h6 class="title-tags">Skills:</h6>
                                                    <ul class="tags list-inline">
                                                        <li><a href="#">{{ app.user.skills }}</a></li>
                                                    </ul>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                {#<!-- Company Rating -->
                                <div class="sidebar">
                                    <h5 class="main-title">Company Rating</h5>
                                    <div class="sidebar-information">
                                        <ul class="single-category com-rate">
                                            <li class="row">
                                                <h6 class="title col-xs-6">Expertise:</h6>
                                                <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span> </li>
                                            <li class="row">
                                                <h6 class="title col-xs-6">Knowledge:</h6>
                                                <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i></span> </li>
                                            <li class="row">
                                                <h6 class="title col-xs-6">Quality::</h6>
                                                <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span> </li>
                                            <li class="row">
                                                <h6 class="title col-xs-6">Price:</h6>
                                                <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span> </li>
                                            <li class="row">
                                                <h6 class="title col-xs-6">Services:</h6>
                                                <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span> </li>
                                        </ul>
                                    </div>
                                </div>#}

                                <!-- Company Rating -->

                            </div>

                            <!-- Tab Content -->
                            <div class="col-md-7">
                                <div class="tab-content">

                                    <!-- PROFILE -->
                                    <div id="profile" class="tab-pane fade in active">
                                        <div class="profile-main">
                                            <h3>Entrez ou modifiez vos informations</h3>


                                            <div class="sidebar-information form-side">

                                                {{ form_start(form) }}
                                                {{ form_errors(form) }}

                                                <div class="row">
                                                    <div class="form-group col-lg-4 col-md-8 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-2">
                                                        {{ form_widget(form.nom,{ 'attr': {'placeholder': 'Nom et prénom', 'class':'form-group'} }) }}

                                                        {{ form_widget(form.sexe,{ 'attr': {'placeholder': 'Sexe', 'class':'form-group'} }) }}
                                                        {{ form_widget(form.pays,{ 'attr': {'placeholder': 'Pays', 'class':'form-group'} }) }}

                                                        {{ form_widget(form.datedenaissance,{ 'attr': {'placeholder': 'Quelle est votre date de naissance', 'class':'form-group'} }) }}
                                                        {{ form_widget(form.job,{ 'attr': {'placeholder': 'Vous faites quoi dans la vie?', 'class':'form-group'} }) }}

                                                        {{ form_widget(form.addressjob,{ 'attr': {'placeholder': 'Où?', 'class':'form-group'} }) }}

                                                         {{ form_widget(form.skills,{ 'attr': {'placeholder': 'Vous maitrisez quoi?', 'class':'form-group'} }) }}

                                                         {{ form_widget(form.addressemailperso,{ 'attr': {'placeholder': 'Addresse mail personnelle', 'class':'form-group'} }) }}


                                                         {{ form_widget(form.description,{ 'attr': {'placeholder': 'Parlez-nous un peu de vous!', 'class':'form-group'} }) }}


                                                         {{ form_widget(form.save,{'attr':{'class':'btn btn-primary'} }) }}

                                                    </div>


                                                </div>



                                                {{ form_end(form) }}

                                            </div>

                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $(".nav li").removeClass("active");
                                                    $("#profilenav").addClass("active");

                                                });



                                            </script>
                                        </div>

                                        <!-- Services -->
                                        <div class="profile-main">
                                            <div class="sidebar">
                                                <h5 class="main-title">Contact</h5>
                                                <div class="sidebar-information form-side">
                                                    <form action="#">
                                                        <input type="text" placeholder="Name & Surname">
                                                        <input type="text" placeholder="E-mail address">
                                                        <textarea placeholder="Your Message"></textarea>
                                                        <button class="btn btn-primary">Send message</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Jobs -->
                                    <div id="jobs" class="tab-pane fade">
                                        <div class="header-listing">
                                            <h6>Sort by</h6>
                                            <div class="custom-select-box">
                                                <select name="order" class="custom-select">
                                                    <option value="0">Most popular</option>
                                                    <option value="1">The latest</option>
                                                    <option value="2">The best rating</option>
                                                </select>
                                            </div>
                                            <ul class="listing-views">
                                                <li class="active"><a href="#"><i class="fa fa-list"></i></a></li>
                                                <li><a href="#"><i class="fa fa-th"></i></a></li>
                                                <li><a href="#"><i class="fa fa-th-large"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="listing listing-1">
                                            <div class="listing-section">
                                                <div class="listing-ver-3">
                                                    <div class="listing-heading">
                                                        <h5>Front-End Web Developer</h5>
                                                        <ul class="bookmark list-inline">
                                                            <li><a href="#"><i class="fa fa-bookmark"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-share"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="listing-inner">
                                                        <div class="listing-content">
                                                            <h6 class="title-company">Mars Planet Telecommunications Inc.</h6>
                                                            <span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <span class="type-work full-time"> Full Time </span>
                                                            <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio pellentesque habitant morbi tristique senectus et netus et malesuada. <a href="single_job.html">read more</a></p>
                                                            <h6 class="title-tags">Skills required:</h6>
                                                            <ul class="tags list-inline">
                                                                <li><a href="#">Javascript</a></li>
                                                                <li><a href="#">Wordpress</a></li>
                                                                <li><a href="#">Presta</a></li>
                                                                <li><a href="#">Sass</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="listing-tabs">
                                                        <ul>
                                                            <li><a href="#"><i class="fa fa-envelope"></i> email@mail.com</a></li>
                                                            <li><a href="#"><i class="fa fa-phone"></i> 012 345 678</a></li>
                                                            <li><a href="#"><i class="fa fa-globe"></i> www.webstite.com</a></li>
                                                            <li class="share-button"> <a href="#"><i class="fa fa-share"></i> Share</a>
                                                                <div class="contact-share">
                                                                    <ul>
                                                                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="listing-ver-3">
                                                    <div class="listing-heading">
                                                        <h5>Front-End Web Developer</h5>
                                                        <ul class="bookmark list-inline">
                                                            <li><a href="#"><i class="fa fa-bookmark"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-share"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="listing-inner">
                                                        <div class="listing-content">
                                                            <h6 class="title-company">Mars Planet Telecommunications Inc.</h6>
                                                            <span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <span class="type-work full-time"> Full Time </span>
                                                            <p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio pellentesque habitant morbi tristique senectus et netus et malesuada. <a href="single_job.html">read more</a></p>
                                                            <h6 class="title-tags">Skills required:</h6>
                                                            <ul class="tags list-inline">
                                                                <li><a href="#">Javascript</a></li>
                                                                <li><a href="#">Wordpress</a></li>
                                                                <li><a href="#">Presta</a></li>
                                                                <li><a href="#">Sass</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="listing-tabs">
                                                        <ul>
                                                            <li><a href="#"><i class="fa fa-envelope"></i> email@mail.com</a></li>
                                                            <li><a href="#"><i class="fa fa-phone"></i> 012 345 678</a></li>
                                                            <li><a href="#"><i class="fa fa-globe"></i> www.webstite.com</a></li>
                                                            <li class="share-button"> <a href="#"><i class="fa fa-share"></i> Share</a>
                                                                <div class="contact-share">
                                                                    <ul>
                                                                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Contact -->
                                    <div id="contact" class="tab-pane fade">
                                        <div class="profile-main">
                                            <h3>Contact the Company</h3>
                                            <div class="profile-in">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quis tenetur velit! Provident eum molestias aperiam suscipit distinctio ipsum cupiditate quasi, dolor sunt, cum reprehenderit quibusdam, repellendus eaque, quas magni.</p>
                                                <form action="#">
                                                    <input type="text" placeholder="Name & Surname">
                                                    <input type="text" placeholder="E-mail address">
                                                    <input type="text" placeholder="Phone Number">
                                                    <textarea placeholder="Your Message"></textarea>
                                                    <button class="btn btn-primary">Send message</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Scripts -->

        <script>
            $(document).ready(function() {
                $('.js-datepicker').datepicker({
                    format: 'yyyy-mm-dd'
                });
            });
        </script>

        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="js/jquery-2.1.3.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/plugins/superfish.min.js"></script>
        <script src="js/jquery.ui.min.js"></script>
        <script src="js/plugins/rangeslider.min.js"></script>
        <script src="js/plugins/jquery.flexslider-min.js"></script>
        <script src="js/uou-accordions.js"></script>
        <script src="js/uou-tabs.js"></script>
        <script src="js/plugins/select2.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/gmap3.min.js"></script>
        <script src="js/scripts.js"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>




    </div>
    </body>

    <!-- Mirrored from new.uouapps.com/tiger-html/profile_company.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Jan 2017 22:17:35 GMT -->
    </html>


























{% endblock %}