{% extends "SocialProMainBundle::layout.html.twig" %}


{% block contenent %}

    <head>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


    </head>
    <body>


    <div id="main-wrapper">


    </div>


    <div class="compny-profile">
        <!-- SUB Banner -->
        <div class="profile-bnr">
            <div class="container">

                <!-- User Iinfo -->
                <div class="user-info">
                    <h1>{{ fayrouz.nom }}<a data-toggle="tooltip" data-placement="top" title="Verified Member"><img src="{{ asset("public/images/icon-ver.png") }}" alt="" ></a> </h1>
                    <h6>{{ fayrouz.sexe }}</h6>
                    <p>{{ fayrouz.pays }}  (<a href="#.">map</a> / <a href="#.">street</a>)</p>

                    {#<p>{{ fayrouz.datedenaissance|date('Y-m-d') }} </p>
                    <p>{{ fayrouz.addressemailperso }}</p>

                    <p>{{ fayrouz.job }}</p>
                    <p>{{ fayrouz.addressjob }}</p>
                    <p>{{ fayrouz.skills }} </p>#}

                    <!-- Social Icon -->
                    <div class="social-links"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-google"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> </div>

                    <!-- Stars -->
                    <ul class="row">
                        <li class="col-sm-6">
                            <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span>(06)</span> </div>
                        </li>
                        <li class="col-sm-6">
                            <p><i class="fa fa-bookmark-o"></i> 28 Bookmarks</p>
                        </li>
                    </ul>

                    <!-- Followers -->
                    <div class="followr">
                        <ul class="row">
                            <li class="col-sm-6">
                                <p>Followers <span>(31)</span></p>
                            </li>
                            <li class="col-sm-6">
                                <p>Following <span>(38)</span></p>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Top Riht Button -->
                <div class="right-top-bnr">
                    <div class="connect"> <a href="#." data-toggle="modal" data-target="#myModal"><i class="fa fa-check"></i> Vous etes connectés</a>

                        <a target="_blank"
                           href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%2Fsocialproalpha%2Fweb%2Fapp_dev.php%2Fpersonne&amp;src=sdkpreparse">  <i class="fa fa-share-alt"></i> Partager sur Facebook   </a>
                        </a></a>
                        <div class="bt-ns"> <a href="#."><i class="fa fa-bookmark-o"></i> </a> <a href="#."><i class="fa fa-envelope-o"></i> </a> <a href="#."><i class="fa fa-exclamation"></i> </a> </div>
                    </div>
                </div>
            </div>

            <!-- Modal POPUP -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="container">
                            <h6><a class="close" href="#." data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a> Send Message</h6>

                            <!-- Forms -->
                            <form action="#">
                                <ul class="row">
                                    <li class="col-xs-6">
                                        <input type="text" placeholder="First Name ">
                                    </li>
                                    <li class="col-xs-6">
                                        <input type="text" placeholder="Last Name">
                                    </li>
                                    <li class="col-xs-6">
                                        <input type="text" placeholder="Country">
                                    </li>
                                    <li class="col-xs-6">
                                        <input type="text" placeholder="Email">
                                    </li>
                                    <li class="col-xs-12">
                                        <textarea placeholder="Your Message"></textarea>
                                    </li>
                                    <li class="col-xs-12">
                                        <button class="btn btn-primary">Send message</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Profile Company Content -->
        <div class="profile-company-content" data-bg-color="f5f5f5">
            <div class="container">
                <div class="row">

                    <!-- SIDE BAR -->
                    <div class="col-md-4">

                        <!-- Friend Information -->
                        <div class="sidebar">
                            <h5 class="main-title">Informations </h5>
                            <div class="sidebar-thumbnail"> <img src=" {{ asset("public/images/fay.png") }}" alt=""> </div>
                            <div class="sidebar-information">
                                <ul class="single-category">

                                    {#<li class="row">
                                        <h6 class="title col-xs-6"> {{ fayrouz.nom }}
                                        </h6>
                                        <span class="subtitle col-xs-6"></span> </li>

                                    <li class="row">
                                        <h6 class="title col-xs-6">Sexe</h6>
                                        <span class="subtitle col-xs-6">{{ app.user.sexe }}</span> </li>
#}
                                    <li class="row">
                                        <h6 class="title col-xs-6">Date de naissance</h6>
                                        <span class="subtitle col-xs-6">{{ fayrouz.datedenaissance|date('Y-m-d') }}</span> </li>

                                   {# <li class="row">
                                        <h6 class="title col-xs-6">Pays</h6>
                                        <span class="subtitle col-xs-6">{{ app.user.pays }}</span> </li>
#}
                                   {# <li class="row">
                                        <h6 class="title col-xs-6"><p>{{ fayrouz.description }}</p></h6>
                                        <span class="subtitle col-xs-6"></span> </li>#}

                                    <li class="row">
                                        <h6 class="title col-xs-6">Adresse mail personnelle</h6>
                                        <span class="subtitle col-xs-6">{{ fayrouz.addressemailperso }}</span> </li>

                                    <li class="row">
                                        <h6 class="title col-xs-6">Occupation actuelle</h6>
                                        <span class="subtitle col-xs-6">{{ fayrouz.job }}</span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">à</h6>
                                        <span class="subtitle col-xs-6">{{ fayrouz.addressjob }}</span> </li>
                                    {# <li class="row">
                                         <h6 class="title col-xs-6">Contact</h6>
                                         <div class="col-xs-6"> <span class="subtitle">*****************<i class="fa fa-exclamation-circle"></i></span> <span class="subtitle">***************** <i class="fa fa-exclamation-circle"></i></span> <a href="#.">example@example.com</a> <a href="#.">example.com</a> </div>
                                     </li>#}

                                    <li>
                                        <div class="listing-content">
                                            <h6 class="title-tags">Skills:</h6>
                                            <ul class="tags list-inline">
                                                <li><a href="#">{{ fayrouz.skills }}</a></li>
                                            </ul>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>

                        {#<!-- Company Rating -->
                        <div class="sidebar">
                            <h5 class="main-title">Company Rating</h5>
                            <div class="sidebar-information">
                                <ul class="single-category com-rate">
                                    <li class="row">
                                        <h6 class="title col-xs-6">Expertise:</h6>
                                        <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Knowledge:</h6>
                                        <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i></span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Quality::</h6>
                                        <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Price:</h6>
                                        <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Services:</h6>
                                        <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span> </li>
                                </ul>
                            </div>
                        </div>#}

                        <!-- envoi mail -->
                        <div class="sidebar">
                            <h5 class="main-title">Contact</h5>
                            <div class="sidebar-information form-side">
                                <form action="#">
                                    <input type="text" placeholder="Name & Surname">
                                    <input type="text" placeholder="E-mail address">
                                    <textarea placeholder="Your Message"></textarea>
                                    <button class="btn btn-primary">Send message</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Tab Content -->
                    <div class="col-md-8">
                        <div class="tab-content">

                            <!-- PROFILE -->
                            <div id="profile" class="tab-pane fade in active">
                                <div class="profile-main">
                                    <h3>Oui est {{ fayrouz.nom }}?</h3>
                                    <div class="profile-in">
                                        <div class="image-part"> <img src="images/profile-img.jpg" alt="" > </div>
                                        <p>{{ fayrouz.description }} </p>

                                    </div>
                                </div>

                                {#<!-- Services -->
                                <div class="profile-main">
                                    <h3>Services</h3>
                                    <div class="profile-in profile-serv">
                                        <h6>Here’s an overview of the services we provide.</h6>
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="icon"> <img src="images/icon-prifile-1.png" alt="" > </div>
                                            </div>
                                            <div class="media-body">
                                                <h6>Engine diagnostics and repairs</h6>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi,
                                                    mollitia, voluptatibus similique aliquidautem laudantium sapiente ad enim ipsa modi
                                                    labo rum accusantium deleniti neque.</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="icon"> <img src="images/icon-prifile-2.png" alt="" > </div>
                                            </div>
                                            <div class="media-body">
                                                <h6>Engine diagnostics and repairs</h6>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi,
                                                    mollitia, voluptatibus similique aliquidautem laudantium sapiente ad enim ipsa modi
                                                    labo rum accusantium deleniti neque.</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="icon"> <img src="images/icon-prifile-3.png" alt="" > </div>
                                            </div>
                                            <div class="media-body">
                                                <h6>Engine diagnostics and repairs</h6>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi,
                                                    mollitia, voluptatibus similique aliquidautem laudantium sapiente ad enim ipsa modi
                                                    labo rum accusantium deleniti neque.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Footer -->
    <div class="uou-block-4e">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6"> <a href="#" class="logo"><img src="images/logo.png" alt=""></a>
                    <ul class="contact-info has-bg-image contain" data-bg-image="images/footer-map-bg.png">
                        <li> <i class="fa fa-map-marker"></i>
                            <address>
                                795 Folsom Ave, Suite 600, San Francisco, CA 94107
                            </address>
                        </li>
                        <li> <i class="fa fa-phone"></i> <a href="tel:#">(123) 456-7890</a> </li>
                        <li> <i class="fa fa-envelope"></i> <a href="mailto:#">first.last@example.com</a> </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>Twitter Feed</h5>
                    <ul class="twitter-feed">
                        <li> RT <a href="#">@no1son</a>: Now this <a href="#">http://t.co/TSfMW1qMAW</a> is one hell of a stunning site!!! Awesome work guys <a href="#">@AIRNAUTS</a> <a href="#" class="time">May 25</a> </li>
                        <li> Check out the wordpress version of Tucson - <a href="#">http://t.co/sBlU3GbapT</a> <a href="#" class="time">May 22</a> </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>Photostream</h5>
                    <ul class="photos-list">
                        <li><img src="images/photostream4.jpg" alt=""></li>
                        <li><img src="images/photostream6.jpg" alt=""></li>
                        <li><img src="images/photostream3.jpg" alt=""></li>
                        <li><img src="images/photostream2.jpg" alt=""></li>
                        <li><img src="images/photostream1.jpg" alt=""></li>
                        <li><img src="images/photostream.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5>Newsletter</h5>
                    <p>Subscribe to our newsletter to receive our latest news and updates. We do not spam.</p>
                    <form class="newsletter-form" action="#">
                        <input type="email" placeholder="Enter your email address">
                        <input type="submit" class="btn btn-primary" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end .uou-block-4e -->

    <div class="uou-block-4a secondary dark">
        <div class="container">
            <ul class="links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
            <p>Copyright &copy; 2015 <a href="#">UOUAPPS</a>. All Rights reserved.</p>
        </div>
    </div>
    <!-- end .uou-block-4a -->



    <!-- Scripts -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/superfish.min.js"></script>
    <script src="js/jquery.ui.min.js"></script>
    <script src="js/plugins/rangeslider.min.js"></script>
    <script src="js/plugins/jquery.flexslider-min.js"></script>
    <script src="js/uou-accordions.js"></script>
    <script src="js/uou-tabs.js"></script>
    <script src="js/plugins/select2.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/gmap3.min.js"></script>
    <script src="js/scripts.js"></script>
    <div id="fb-root"></div>

    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </body>


    <script type="text/javascript">
        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $("#profilenav").addClass("active");

        });



    </script>





{% endblock %}

