{% extends "SocialProMainBundle::layout.html.twig" %}
{% block title %} - Afficher PostEvent {% endblock %}
{% block contenent %}
    <div class="div" style="margin-top:30px;margin-bottom:30px;margin-left: 15%; margin-right: 15%; padding: 20px; border-radius: 15px; background-color: white; border: solid 1px; border-color: darkgrey;">
   <center><h1>Liste  des candidatures pour les evenements </h1></center>

        <table class="table table-striped table-advance table-hover">

        <tbody>
        <tr>
            <th> Titre</th>
            <th> Etat de la demande</th>
            <th> Nombre de place </th>
            <th> Telephone </th>
            <th>email</th>
            <td>Action</td><th>Date</th>
        </tr>
        {% for espoir in modele %}

        <tr><td>{{ espoir.idEvent.nom }}</td>
            <td>{{ espoir.status }}</td>
            <td>{{ espoir.nombrePlace }}</td>
            <td>{{ espoir.tel }}</td>
            <td><a href="">{{ espoir.email }}</a></td> <td style="background-color: mintcream">{{ espoir.date|date }}</td><td>
                <div >
                    <a  href="{{ path('accepterMyPostEvent',{'id':espoir.id}) }}"><input type="button" value="Accepter" style="width: 90px;background-color: #21f8f8;"></a>
                    <a  href="{{ path('supprimer_PostEmploi',{'id':espoir.id}) }}"><input type="button" value="supprimer" style="width: 90px;background-color: #2aadde"></a>
                    <a  href="{{ path('refuserMyPostEvent',{'id':espoir.id}) }}"><input type="button" value="Refuser" style="width: 90px;background-color: #FDF5CE"></a>
                </div></td></tr>
        </tbody>



        {% endfor %}



    </table>


    </div><br><br>


{% endblock %}