

{% extends "SocialProMainBundle::layout.html.twig" %}
{% block title %} - Ajouter Emploi {% endblock %}
{% block contenent %}



    <script type="text/javascript" src=""></script>
    <style type="text/css">
        .div {
            /* Pour le centrer dans la page */
            margin: 0 auto;
            width: 1100px;
            /* Pour voir les limites du formulaire */




        }
        .deuxvaleurs {
            border-spacing: 5px 10px;
        }
        .label {

        }

    </style>


            <h1>Ajouter Un Evenement</h1>
            <center></center><br>

            {{ form_start(form) }}

            <div class="">
                <table  class="deuxvaleurs">
                    <tr style="display: none;"><td class="label">Etade la demande :</td>
                        <td>{{ form_widget(form.status) }}</td>
                    </tr>
                    <tr style="display: none;"><td class="label">Etade la demande :</td>
                        <td>{{ form_widget(form.id_event) }}</td>
                    </tr>
                    <tr style="display: none"><td class="label">Email :</td>
                        <td>{{ form_widget(form.user) }}</td>
                    </tr>
                    <tr><td class="label">Telephone :</td>
                        <td>{{ form_widget(form.tel) }}</td>
                    </tr>
                    <tr><td class="label">Nombre de place :</td>
                        <td>{{ form_widget(form.nombrePlace) }}</td>
                    </tr>
                    <tr  style="display: none;"><td  style="display: none" class="label">Utlisateur :</td>
                        <td style="display: none">{{ form_widget(form.user) }}</td>
                    </tr>


                    <tr style="display: none"><td class="label">Date :</td>
                        <td>{{ form_widget(form.date) }}</td>
                    </tr>
                    <tr  style="display: none"  >
                        <td align="center">L'utilisateur: </td>
                        <td align="center"> {{app.user.username}} </td>
                    </tr>
                </table>
                <p>{{ form_widget(form.ajouter) }}</p>

            </div>

            {{ form_end(form) }}

{% endblock %}