{% extends "SocialProMainBundle::layout.html.twig" %}
{% block title %} - Afficher Emploi {% endblock %}
{% block contenent %}
    <html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #map {
                height: 100%;
            }
            .controls {
                margin-top: 10px;
                border: 1px solid transparent;
                border-radius: 2px 0 0 2px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                height: 32px;
                outline: none;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            }

            #pac-input {
                background-color: #fff;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                margin-left: 12px;
                padding: 0 11px 0 13px;
                text-overflow: ellipsis;
                width: 300px;
            }

            #pac-input:focus {
                border-color: #4d90fe;
            }

            .pac-container {
                font-family: Roboto;
            }

            #type-selector {
                color: #fff;
                background-color: #4d90fe;
                padding: 5px 11px 0px 11px;
            }

            #type-selector label {
                font-family: Roboto;
                font-size: 13px;
                font-weight: 300;
            }

        </style>
        <title>Places Searchbox</title>
        <style>
            #target {
                width: 345px;
            }
        </style>
    </head>
    <body>

    <center>
        <div  align="center" class="div" style="margin-top:30px;margin-bottom:30px;margin-left: 15%; margin-right: 15%; padding: 20px; border-radius: 15px; background-color: white; border: solid 1px; border-color: darkgrey;width:900px;">
            <h2>rechecher Post Event</h2>
            {{ form(form) }}
            <h1>Details s Evenement </h1>
            <marquee><p>Veillez lire avec plus d'attention !!!</p></marquee>

            <table class="table table-striped table-advance table-hover">

                <tbody>
                <tr>
                    <th> Nom</th>
                    <th> Etat de la demande</th>
                    <th> Telephone</th>
                    <th> Nombre de place</th>
                    <th>email</th>
                    <td>Fait le</td><td>Action</td>
                </tr>

                {%  for modele in modele%}
                <tr><td>{{  modele.idEvent.nom }}</td><td>{{ modele.status }}</td> <td>{{ modele.tel }}</td>
                    <td>{{ modele.nombrePlace }}</td><td>{{  modele.email }}</td> <td style="background-color: mintcream">{{  modele.date|date }}</td><td>
                        <div >
                            <a  href="{{ path('modifierMyPostEvent',{'id':modele.id}) }}"><input type="button" value="modifier" style="width: 90px;background-color: #2aadde"></a>
                            <a  href="{{ path('supprimerMyPostEvent',{'id':modele.id}) }}"><input type="button" value="supprimer" style="width: 90px;background-color: #2aadde"></a>
                        </div>
                    </td></tr>
                </tbody>


                {% endfor %}

            </table><br>



            <br><br>

        </div></center>
    </body>
    </html>
{% endblock %}