{% extends "SocialProMainBundle::layout.html.twig" %}

{% block contenent %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="g-recaptcha" data-sitekey="6LcwvxQUAAAAAJc_pDQdNCRGzIbaTLZ3JKoIaVgz"></div>
    <button type="submit">Ajouter</button>
{{ form_end(form) }}
{% endblock %}