{% extends "SocialProMainBundle::layout.html.twig" %}

{% block contenent %}
<table align="center">
    <tr><td>Nom : </td> <td>{{ project.nom }}</td></tr>
    <tr><td>Description : </td><td> {{ project.description }}</td></tr>
    <tr><td>Coût : </td><td> {{ project.cout }}</td></tr>
    <tr><td>Domaine : </td><td>{{ project.domaine }}</td></tr>

    <tr><td>Montant achevé</td>
        <td>
            {{ montant }}
        </td></tr>
    {% if app.user.id == project.user.id %}
        <tr><td>

                <a href="{{ path('project_edit', {'id':project.id} ) }}">modifier</a>

            </td></tr>
    {% endif %}
    {% if app.user.id != project.user.id %}
        <tr><td>

                <a href="{{ path('project_founding', {'id':project.id} ) }}">Faire une donnation</a>

            </td></tr>
    {% endif %}

</table>

{% endblock %}