{% extends "SocialProMainBundle::layout.html.twig" %}

{% block contenent %}

    <table align="center">
    <tr><td>Nom : </td> <td>{{ project.nom }}</td></tr>
    <tr><td>Description : </td><td> {{ project.description }}</td></tr>
    </table>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Donner</button>
    {{ form_end(form) }}
{% endblock %}