{% extends "SocialProMainBundle::layout.html.twig" %}

{% block contenent %}



    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart') }}
    </script>
    <div id="div_chart"></div>
{% endblock %}