{% extends "SocialProMainBundle::layout.html.twig" %}
{% block title %} - Ajouter Reclamation {% endblock %}
{% block contenent %}
    <div class="div" style="margin-top:30px;margin-bottom:30px;margin-left: 15%; margin-right: 15%; padding: 20px; border-radius: 15px; background-color: white; border: solid 1px; border-color: darkgrey;">
        <h1 align="center">Ajouter Une Réclamation </h1>

        {{ form_start(form) }}
            <table  class="deuxvaleurs">
                <tr><td class="label">Type :</td>
                    <td>{{ form_widget(form.type) }}</td>
                </tr>
                <tr><td class="label">De la part de :</td>
                    <td>{{ form_widget(form.nom) }}</td>y
                </tr>
                <tr><td class="label">Le code de l'object:</td>
                    <td>{{ form_widget(form.code) }}</td>
                </tr>
                <tr><td class="label">Description :</td>
                    <td>{{ form_widget(form.description) }}</td>
                </tr>
                <tr style="display: none"><td class="label">Date :</td>
                    <td>{{ form_widget(form.date) }}</td>
                </tr>
                <tr><td></td><td align="center"><input type="submit" class="btn btn-primary" nom="Ajouter" value="Ajouter"></td></tr>
            </table>

        </div>

        {{ form_end(form) }}
{% endblock %}