{% extends '@SocialProMain/layout.html.twig' %}
{% block style %}
    <style>
        button,input{
            background-color: #67B6DC;
            border: transparent;
            border-radius: 4px;
            padding: 10px;
            color: white;

        }
        button{
            margin-top: 10px;
            margin-left: 10px;
        }
        h3{
            font-size: 20px;
        }
    </style>
    {% endblock %}

{% block contenent %}
    {% stylesheets '@FOSCommentBundle/Resources/public/css/comments.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <div style=" border: solid 1px; border-radius: 8px;  border-color: gainsboro; box-shadow: 1px 1px 1px gainsboro;margin: 20px 20% 20px 20%; background-color: white; padding: 20px; ">


    <div style="margin: 10px;">
<div >
    <div style="position: relative;  border: solid 1px; border-radius: 5px; margin-bottom: 20px; padding-top: 20px; border-color: #d9d9d9">
        <div>
            <a href="#">
                {% if picture is null %}
                    <img style="position:absolute;top:15px; left:15px; height: 60px; width: 60px; border-radius: 50%; " src="{{ asset('public/images/avatar.png') }}" alt="...">

                {% else %}
                    <img style="position:absolute;top:25px; left:15px;" width="45" src="{{ status.picture }}" alt="...">
                {% endif %}
            </a>
        </div>
        <div style="position: relative; left: 13%;">
            <div style="margin-right: 8%;">
                <a href="{{ path('profile2') }}">  <b>{{ username }}</b></a>
                <div style="margin-top: 5px;"><p>{{ status }}</p></div></div>

        </div>

        <table style="background-color: #eeeeee; margin: 0px;">
            <tr>
                <td>         {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': id } %}
                </td>

            </tr>
        </table>


    </div>

</div>
    </div>
    </div>
{% endblock %}