{% extends "SocialProMainBundle::layout.html.twig" %}
{% block contenent %}

    <style>
        p.ex {
            height: 100px;
            width: 400px;
        }
        input[type=text] {
            width: 40%;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }


        input[type=text]:focus {
            width: 85%;
        }

    </style>


    <div class="container text-center" style="border-style: solid;border-color: black">
        <div class="row" >
            <div class="col-sm-3 well" style="border-style: solid;border-color: lightgrey">
                <div class="well">
                    <p><a href="#">Mon Profile</a></p>
                    <img src="{{ asset("public/images/user.png") }}" class="img-circle" height="65" width="65" alt="Avatar">
                </div>
                <div class="well">
                    {{ knp_menu_render('SocialProEntrepriseBundle:Builder:mainMenu') }}
                </div>
                <div class="well">

                </div>
            </div>
            <div class="col-sm-7">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default text-left">
                            <div class="panel-body">
                                <h1>Discussion</h1>
                                <hr width="500" size="4" align=center color ="#00ff00">



                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 well"style="border-style: solid;border-color: lightgrey">
                <div class="thumbnail" >
                    <ul>
                        <li><a href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
                        <li><a href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
                        <li><a href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a></li>
                    </ul>
                    <h2>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2>

                    <form action="{{ url('fos_message_thread_new') }}" method="post">
                        {{ form_widget(form) }}

                        <input type="submit" />
                    </form>

                </div>
                <div class="well">
                    <p></p>
                </div>
                <div class="well">
                    <p></p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}