{% extends "SocialProMainBundle::layout.html.twig" %}

{% block contenent %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}
    {{ dump(app.user) }}
{% endblock %}