{% extends "SocialProMainBundle::layout.html.twig" %}
{% block contenent %}
    {{ knp_menu_render('SocialProEntrepriseBundle:Builder:mainMenu') }}


        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Modifier</button>
        {{ form_end(form) }}
        {{ dump(app.user) }}

{% endblock %}