{% extends '@SocialProMain/LayoutAdmin.html.twig' %}
{% block adminsection %}
    <table align="center">
        <tr><td>Nom : </td> <td>{{ project.nom }}</td></tr>
        <tr><td>Description : </td><td> {{ project.description }}</td></tr>
        <tr><td>Coût : </td><td> {{ project.cout }}</td></tr>
        <tr><td>Domaine : </td><td>{{ project.domaine }}</td></tr>
        <tr><td>Montant achevé</td>
            <td>
                {{ montant }}
            </td></tr>
            <tr><td>

                    <a href="{{ path('project_admin_supprimer', {'id':project.id} ) }}">Supprimer</a>

                </td></tr>

    </table>

{% endblock %}