{% extends '@SocialProMain/LayoutAdmin.html.twig' %}

{% block adminsection %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">

        $("document").ready(function () {
            $("#recherche").keyup(function () {
                $("#result").empty();
                var recherche= $(this).val();
                //var data = 'motclef='+ recherche;
                if(recherche.length>2){

                    $.ajax({
                        type : 'GET',
                        url  : 'http://localhost/socialproalpha/web/app_dev.php/control_ajax/'+$(this).val(),
                        success: function(data){

                            /*var obj = 0;
                             obj = data;
                             console.log("dans la fonction");
                             var count = Object.keys(obj).length;
                             console.log(count);
                             console.log(obj.length);*/


                            //var obj = JSON.parse(data);
                            // console.log(x.length);
                            /*console.log(Object.keys(obj).length);

                             for (var i=0; i< Object.keys(obj).length;i++)
                             {
                             console.log("affichage de i"+i);
                             var final=obj[i];
                             $("#result").insertAdjacentHTML('beforeend',"<a href='http://localhost/socialproalpha/web/app_dev.php/project/"+final.id+"'><div>"+final.nom+"</div> </a>");

                             }
                             */


                            //$("#result").innerHTML = obj.toString();
                            var ch ="<table>";

                            for (var i=0;i<data.nom[0].length;i++){
                                ch+='<tr>' +
                                    '<td><b>Nom :</b><a href="project/'+data.nom[2][i]+'">'+data.nom[0][i]+'</a></td>' +
                                    '<td><b>' + 'Description :</b>'+data.nom[1][i]+'</td></tr>';
                                console.log(data.nom[0][i]);
                            }
                            ch+="</table>"

                            $("#result").html(ch);


                        }
                    });

                    // console.log("pas de boucle");

                }
                //console.log("keyup nemarche pas");

            });
        });

    </script>
    <form>
        <div>
            <div>
                <input type="text" name="recherche" id="recherche"/>
            </div>
            <div id="result">
            </div>

        </div>
        <table align="center" border="2px">
            {% for pro in project %}
                <tr>
                    <td><a href="project/{{ pro.id }}">{{ pro.nom }}</a></td>
                    <td>{{ pro.description }}</td>
                    <td>{{ pro.domaine }}</td>
                    <td>{{ pro.cout }}</td>
                    <td><a href="{{ path('project_admin_supprimer',{'id':pro.id}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
        </table>
    </form>
    <div class="navigation">
        {{ knp_pagination_render(project) }}
    </div>

{% endblock %}