{% extends "SocialProMainBundle::layout.html.twig" %}
{% block title %} - Afficher Emploi {% endblock %}
{% block contenent %}
    <div class="div" style="margin-top:30px;margin-bottom:30px;margin-left: 15%; margin-right: 15%; padding: 20px; border-radius: 15px; background-color: white; border: solid 1px; border-color: darkgrey;">
    <h1>Afficher Une Offre D'Emploi </h1>

    <table class="table table-striped table-advance table-hover">

        <tbody>
        <tr>
            <th> L'entreprise</th>
            <th> Ville</th>
            <th> Réalisé par</th>
            <th> Fait le </th><td>Action</td>
        </tr>
        {% for espoir in modele %}

        <tr><td>{{ espoir.nom }}</td>
            <td>{{ espoir.ville }}</td>
            <td><a href="">{{ espoir.user }}</a></td> <td style="background-color: mintcream">{{ espoir.date|date }}</td><td>
                <div >
                    <a  href="{{ path('afficher_Emploi_VisiterOffreEmploi',{'id':espoir.id}) }}"><input type="button" value="visiter" style="width: 70px;background-color: #21f8f8;"></a>
                    <a  href="{{ path('postuler_Emploi',{'id':espoir.id}) }}"><input type="button" value="signer" style="width: 70px;background-color: #2aadde"></a>
                </div></td></tr>
        </tbody>



        {% endfor %}



    </table>


    </div><br><br>


{% endblock %}