{% extends "SocialProMainBundle::layout.html.twig" %}
{% block title %} - Ajouter Reclamation {% endblock %}
{% block contenent %}
    <div class="div" style="margin-top:30px;margin-bottom:30px;margin-left: 15%; margin-right: 15%; padding: 20px; border-radius: 15px; background-color: white; border: solid 1px; border-color: darkgrey;">
    <h1>Afficher Une Offre D'Emploi </h1>
    {% for espoir in modele %}
        <div class="div">
            <table border="1" style="background-color: transparent" class="deuxvaleurs">
                <tr><td class="label">Nom :</td>
                    <td style="background-color: mintcream">{{ espoir.nom }}</td>
                </tr>
                <tr><td class="label">Email de :</td>
                    <td style="background-color: mintcream">{{ espoir.email }}</td>
                </tr>
                <tr><td class="label">Conctact :</td>
                    <td style="background-color: mintcream">{{ espoir.tel }}</td>
                </tr>
                <tr><td class="label">Langues :</td>
                    <td style="background-color: mintcream">{{ espoir.langues }}</td>
                </tr>
                <tr><td class="label">Code Postal :</td>
                    <td style="background-color: lightsalmon">{{ espoir.codePostal }}</td>
                </tr>

                <tr><td class="label">Experience :</td>
                    <td style="background-color: lightsalmon">{{ espoir.experience }}</td>
                </tr>

                <tr><td class="label">Experience :</td>
                    <td style="background-color: lightsalmon">{{ espoir.user }}</td>
                </tr>


                <tr><td class="label">Date :</td>
                    <td style="background-color: mintcream">{{ espoir.date|date }}</td>
                </tr>
            </table>
            <p><a href="{{ path('supprimer_Emploi',{'id':espoir.id}) }}">Supprimer</a></p>  <a href="{{ path('modifier_Emploi',{'id':espoir.id}) }}">Modifier</a>
            <p><a href="{{ path('postuler_Emploi2',{'id':espoir.id}) }}">Supprimer</a></p>

        </div><br><br>

    {% endfor %}




{% endblock %}