{% extends "SocialProMainBundle::layout.html.twig" %}
{% block title %} - Ajouter Reclamation {% endblock %}
{% block contenent %}

    <h1 align="center">Rechercher Une Offre </h1>
    <center> <div style="width: 300px">{{ form(form) }}
        </div></center>
    <h2 align="center">Afficher Une Offre D'Emploi </h2>
    {% for espoir in modele %}
        <div class="div">
            <table border="1" style="background-color: transparent" class="deuxvaleurs">
                <tr><td class="label">Nom :</td>
                    <td style="background-color: mintcream">{{ espoir.nom }}</td>
                </tr>
                <tr><td class="label">Email de :</td>
                    <td style="background-color: mintcream">{{ espoir.email }}</td>
                </tr>
                <tr><td class="label">Conctact :</td>
                    <td style="background-color: mintcream">{{ espoir.tel }}</td>
                </tr>
                <tr><td class="label">Langues :</td>
                    <td style="background-color: mintcream">{{ espoir.langues }}</td>
                </tr>
                <tr><td class="label">Code Postal :</td>
                    <td style="background-color: lightsalmon">{{ espoir.codePostal }}</td>
                </tr>
                <tr><td class="label">Experience :</td>
                    <td style="background-color: lightsalmon">{{ espoir.experience }}</td>
                </tr>

                <tr><td class="label">Experience :</td>
                    <td style="background-color: lightsalmon">{{ espoir.user }}</td>
                </tr>


                <tr><td class="label">Date :</td>
                    <td style="background-color: mintcream">{{ espoir.date|date }}</td>
                </tr>
            </table>
            <p><a href="{{ path('supprimer_Emploi',{'id':espoir.id}) }}">Supprimer</a></p>  <a href="{{ path('modifier_Emploi',{'id':espoir.id}) }}">Modifier</a>

        </div><br><br>

    {% endfor %}




{% endblock %}