{% extends "SocialProMainBundle::layout.html.twig" %}
{% block title %} - modifier Emploi {% endblock %}
{% block contenent %}
    <div class="div" style="margin-top:30px;margin-bottom:30px;margin-left: 15%; margin-right: 15%; padding: 20px; border-radius: 15px; background-color: white; border: solid 1px; border-color: darkgrey;">
        <h1 align="center">Modifier Un Offre D'Emploi </h1>

        {{ form_start(form) }}
        <table  class="deuxvaleurs">
            <tr><td class="label">Nom :</td>
                <td>{{ form_widget(form.nom) }}</td>

            </tr>
            <tr><td class="label">Email:</td>
                <td>{{ form_widget(form.email) }}</td>y
            </tr>
            <tr><td class="label">Numero télephone:</td>
                <td>{{ form_widget(form.tel) }}</td>
            </tr>
            <tr><td class="label">Langues :</td>
                <td>{{ form_widget(form.langues) }}</td>
            </tr>

            <tr><td class="label">Ville :</td>
                <td>{{ form_widget(form.ville) }}</td>
            </tr>

            <tr><td class="label">Code Postal :</td>
                <td>{{ form_widget(form.codePostal) }}</td>
            </tr>
            <tr><td class="label">Description :</td>
                <td>{{ form_widget(form.description) }}</td>
            </tr>

            <tr><td class="label">Experience :</td>
                <td>{{ form_widget(form.experience) }}</td>
            </tr>

            <tr><td class="label">Experience et Competance :</td>
                <td>{{ form_widget(form.competance) }}</td>
            </tr>

            <tr><td class="label">Utilisateur :</td>
                <td>{{ form_widget(form.user) }}</td>
            </tr>



            <tr style="display: none"><td class="label">Date :</td>
                <td>{{ form_widget(form.date) }}</td>
            </tr>
            <tr><td></td><td align="center"><input type="submit" class="btn btn-primary" nom="Ajouter" value="Ajouter"></td></tr>
        </table>

    </div>

    {{ form_end(form) }}
{% endblock %}