{% extends "SocialProMainBundle::layout.html.twig" %}
{% block title %} - Ajouter Reclamation {% endblock %}
{% block contenent %}
<div>
    <h1 align="center">Afficher Une Offre D'Emploi </h1>
    <marquee><p>Veillez lire avec plus d'attention !!!</p></marquee>

    <table class="table table-striped table-advance table-hover">

        <tbody>
        <tr>
            <th> L'entreprise</th>
            <th> Email</th>
            <th> Contact </th>
            <th> Langues</th>
            <th> Ville</th>
            <th> Code Postal</th>
            <th> Réaliser par</th>
            <td>Fait le</td><td>Action</td>
        </tr>


        <tr><td>{{ modele.nom }}</td><td>{{ modele.email }}</td><td>{{  modele.tel }}</td><td>{{  modele.langues }}</td>
            <td>{{ modele.ville }}</td><td>{{  modele.codePostal }}</td>
            <td>{{  modele.user }}</td> <td style="background-color: mintcream">{{  modele.date|date }}</td><td>
                <div >
                    <a  href="{{ path('postuler_Emploi',{'id':modele.id}) }}"><input type="button" value="signer" style="width: 70px;background-color: #2aadde"></a>
                </div>
              </td></tr>
        </tbody>




    </table><br>
    <center><div style="width: 800px"><div style=" background:#21f8f8;border-radius:50%;width:180px;height:100px;border:2px solid #679403;"><h4 align="center">Description</h4></div>
            <p>{{ modele.description }}</p>
        </div>

        <div  tyle="width: 400px"><div style=" background:#21f8f8;border-radius:50%;width:195px;height:110px;border:2px solid #679403;"><h4>Responsabilité</h4></div>
            <p>{{  modele.experience }}</p>
        </div>
        <div tyle="width: 800px"><div style=" background:#21f8f8;border-radius:50%;width:220px;height:130px;border:2px solid #679403;"><h4>Compétences requises ou aquises</h4></div>
            <p>{{ modele.competance }}</p>
        </div>

        <div><h4>Compétences appréciées</h4>
            <p>{{ modele.nom }}</p>
        </div> </center>

    </div><br><br>


{% endblock %}