{% extends '@SocialProMain/LayoutAdmin.html.twig' %}

 {% block adminsection %}



     <table align="center">
         {% for us in m %}

             <li class="row">
                 <h3 class="title col-xs-6">{{ us.nom }}</h3><a href="{{ path("userdelete",{'id':us.id}) }}">Supprimer
                        </a></li>


         {% endfor %}
     </table>

 {% endblock %}