{% extends '@SocialProMain/layout.html.twig' %}

{% block contenent %}


    <div style=" border: solid 1px; border-radius: 8px;  border-color: gainsboro; box-shadow: 1px 1px 1px gainsboro;margin: 20px 20% 20px 20%; background-color: white; padding: 20px; padding-top: 5px; ">
        <h5 style="margin-bottom: 10px;"> Résultat de recherche: </h5>

        <div style="margin: 10px;">
            {% for user in pagination %}
                <div >
                    <div style="position: relative;  border: solid 1px; border-radius: 5px; margin-bottom: 20px; padding: 4px; border-color: #d9d9d9">
                        <div style="width: 80%">
                        <div>
                            <a href="#">
                                {% if user.avatar is null %}
                                    <img style="position:absolute;top:15px; left:15px; height: 60px; width: 60px; border-radius: 50%;" src="{{ asset('public/images/avatar.png') }}" alt="...">
                                {% else %}
                                    <img style="position:absolute;top:15px; left:15px; height: 60px; width: 60px; border-radius: 50%;" src="{{ user.avatar }}" alt="...">
                                {% endif %}
                            </a>
                        </div>
                        <div style="position: relative; left: 14%; top: 7px;">
                                    {{ user.nom }}<br>
                            <p style="font-size: 10px;">Username: {{ user.username }}</p>
                        </div>
                        </div>
                        <a href="{{ path("friend_connect",{'id':user.id}) }}">
                            <div class="connect" style="position: absolute; left: 87%; top: 35%">
                            <i class="fa fa-user-plus"></i> Connect
                        </div>
                        </a>
                    </div>
                </div>

            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

{% endblock %}