{% extends "SocialProMainBundle::layout.html.twig" %}
{% block title %} - Afficher Emploi {% endblock %}
{% block contenent %}

    <style>
        .zoomable-image{display:block;-webkit-transition:-webkit-transform 1s cubic-bezier(.23,1,.32,1);-webkit-transform:translateZ(0);-ms-transform:translateZ(0)}
        .zoomable-image:hover{-webkit-transform:scale3d(1.05,1.05,1.05);-ms-transform:scale3d(1.05,1.05,1.05)}
        button:not(.sauf),input[type=submit]  {
            /* border: 1px solid #3079ed; */
            border: 0px;
            color: white;

            background-color: #00bfa5;
            padding: 7px;

            font-size: 14px;
            /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
        }

        textarea{

            height: 44px;
            font-size: 16px;
            width: 50%;
            margin-bottom: 10px;
            -webkit-appearance: none;
            box-shadow: #0a0a0a 5px 5px 1px;
            border: 1px solid #26a69a ;

            /* border-radius: 2px; */
            padding: 0 8px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script>
        $(document).ready(function() {

//Lorsque vous cliquez sur un lien de la classe poplight et que le href commence par #
            $('a.poplight[href^=#]').click(function() {
                var popID = $(this).attr('rel'); //Trouver la pop-up correspondante
                var popURL = $(this).attr('href'); //Retrouver la largeur dans le href

//Récupérer les variables depuis le lien
                var query= popURL.split('?');
                var dim= query[1].split('&amp;');
                var popWidth = dim[0].split('=')[1]; //La première valeur du lien

//Faire apparaitre la pop-up et ajouter le bouton de fermeture
                $('#' + popID).fadeIn().css({
                    'width': Number(popWidth)
                })
                        .prepend('<a href="#" class="close"><img src="{{ asset('Espoir/image/close_pop.png') }}" class="btn_close" title="Fermer" alt="Fermer" /></a>');

//Récupération du margin, qui permettra de centrer la fenêtre - on ajuste de 80px en conformité avec le CSS
                var popMargTop = ($('#' + popID).height() + 80) / 2;
                var popMargLeft = ($('#' + popID).width() + 80) / 2;

//On affecte le margin
                $('#' + popID).css({
                    'margin-top' : -popMargTop,
                    'margin-left' : -popMargLeft
                });

//Effet fade-in du fond opaque
                $('body').append('<div id="fade"></div>'); //Ajout du fond opaque noir
//Apparition du fond - .css({'filter' : 'alpha(opacity=80)'}) pour corriger les bogues de IE
                $('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn();

                return false;
            });

//Fermeture de la pop-up et du fond
            $('a.close, #fade').live('click', function() { //Au clic sur le bouton ou sur le calque...
                $('#fade , .popup_block').fadeOut(function() {
                    $('#fade, a.close').remove();  //...ils disparaissent ensemble
                });
                return false;
            });
        });
    </script>
     <div class="div" style="margin-top:30px;margin-bottom:30px;margin-left: 15%; margin-right: 15%; padding: 20px; border-radius: 15px; background-color: white; border: solid 1px; border-color: darkgrey;">

<center>
    <h1>Afficher les  Evenements </h1>
    <table class="table table-striped table-advance table-hover">

        <tbody>
        <tr>
            <th> Evenement</th>
            <th> Theme</th>
            <th> Lieu</th>
            <th> Fait le </th><td>Action</td>
        </tr>
        {% for espoir in modele %}


        <tr>
            <td style="background-color: mintcream">{{ espoir.nom }}</td>
            <td style="background-color: mintcream">{{ espoir.theme }}</td>
            <td style="background-color: mintcream">{{ espoir.lieu }}</td>
            <td style="background-color: mintcream">{{ espoir.date|date }}</td><td>
           <div >
                    <a  href="{{ path('afficher_Emploi_VisiterOffreEmploi',{'id':espoir.id}) }}"><input type="button" value="visiter" style="width: 70px;background-color: #21f8f8;"></a>
                    <a  href="{{ path('postuler_Emploi',{'id':espoir.id}) }}"><input type="button" value="signer" style="width: 70px;background-color: #2aadde"></a>
                     <a  href="{{ path('accepterMyPostEvent',{'id':espoir.id}) }}"><input type="button" value="Accepter" style="width: 90px;background-color: #21f8f8;"></a>
                    <a  href="{{ path('supprimerMyPostEvent',{'id':espoir.id}) }}"><input type="button" value="supprimer" style="width: 90px;background-color: #2aadde"></a>
                    <a  href="{{ path('refuserMyPostEvent',{'id':espoir.id}) }}"><input type="button" value="Refuser" style="width: 90px;background-color: #FDF5CE"></a>
                </div></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
     {% for espoir in modele %}
    <p><a href="{{ path('supprimer_Evenement',{'id':espoir.id}) }}">Supprimer</a></p>  <a href="{{ path('modifier_Evenement',{'id':espoir.id}) }}">Modifier</a>
    <p><a href="#?w=500" rel="{{ espoir.id }}" class="poplight"><center> voir</center></a></p>
    </div><br><br>




    <div id="{{ espoir.id }}" class="popup_block">
        <center></center>

        <div  > <center>  <h3 style="color:green">{{ espoir.nom }} </h3> </center><!--<h3> <span  style="color:#26a69a">ID:</span>  <span style="opacity:0.5"> {{ espoir.id }} </span></h3>--> <h4><span  style="color:#26a69a">Categorie:</span>   {{ espoir.nombrePlace }} </h4> <h4><span  style="color:#26a69a">proprietaire:</span>   {{ espoir.nombrePlace }}</h4> <h4><span  style="color:#26a69a">Description:</span>   {{ espoir.description }} </h4><h4><span  style="color:#26a69a">Prix(estimation):</span>   {{ espoir.description }} DT</h4></div>


        <center><button class="sauf" style="background-color:#26a69a "><a type="button" style="color: white" href="">supprimer </a> </button><button class="sauf" style="background-color:#26a69a "><a type="button" style="color: white" href="">modifier </a> </button></center>
    </div>
    </div>
    {% endfor %}




    <style class="poplight">

        #fade { /*--Masque opaque noir de fond--*/
            display: none; /*--masqué par défaut--*/
            background: #000;
            position: fixed; left: 0; top: 0;
            width: 100%; height: 100%;
            opacity: .80;
            z-index: 9999;
        }
        .popup_block{
            display: none; /*--masqué par défaut--*/
            background: #fff;
            padding: 20px;
            border: 20px solid #ddd;
            float: left;
            font-size: 1.2em;
            position: fixed;
            top: 50%; left: 50%;
            z-index: 99999;
            /*--Les différentes définitions de Box Shadow en CSS3--*/
            -webkit-box-shadow: 0px 0px 20px #000;
            -moz-box-shadow: 0px 0px 20px #000;
            box-shadow: 0px 0px 20px #000;
            /*--Coins arrondis en CSS3--*/
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
        img.btn_close {
            float: right;
            margin: -55px -55px 0 0;
        }
        /*--Gérer la position fixed pour IE6--*/
        *html #fade {
            position: absolute;
        }
        *html .popup_block {
            position: absolute;
        }

    </style>
</center>

{% endblock %}




