

{% extends "SocialProMainBundle::layout.html.twig" %}
{% block title %} - Ajouter Emploi {% endblock %}
{% block contenent %}



    <script type="text/javascript" src=""></script>
    <style type="text/css">
        .div {
            /* Pour le centrer dans la page */
            margin: 0 auto;
            width: 1100px;
            /* Pour voir les limites du formulaire */




        }
        .deuxvaleurs {
            border-spacing: 5px 10px;
        }
        .label {

        }

    </style>
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map_canvas { height: 100% }
    </style>
    <script type="text/javascript">

        function initialize() {
            var myLatlng = new google.maps.LatLng(24.18061975930,79.36565089010);
            var myOptions = {
                zoom:7,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("gmap"), myOptions);
            // marker refers to a global variable
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });

            google.maps.event.addListener(map, "click", function(event) {
                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("lat").value = clickLat.toFixed(5);
                document.getElementById("lon").value = clickLon.toFixed(5);

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(clickLat,clickLon),
                    map: map
                });
            });
        }

        window.onload = function () { initialize() };
    </script>
    <style>
        div#gmap {
            width: 80%;
            height: 500px;
            border:double;
        }
    </style>
    <script type="text/javascript" async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk&sensor=false">
    </script>

    <div class="div" style="margin-top:30px;margin-bottom:30px;margin-left: 15%; margin-right: 15%; padding: 20px; border-radius: 15px; background-color: white; border: solid 1px; border-color: darkgrey;">
        <center>
            <form id="form1" runat="server">
                <center>
                    <!-- MAP HOLDER -->
                    <div id="gmap"></div>
                    <!-- REFERENCES -->


                    <p>Lat: <input value="" type="text" id='lat'></p>
                    <p>Lon: <input type="text" id='lon'></p>
                </center>

            </form>

            <h1>Ajouter Un Evenement</h1>
            <center></center><br>
            <form method="post" action="#" id="form1" runat="server">
            <div class="">
                <table  class="deuxvaleurs">
                    <tr><td class="label">Nom :</td>
                        <td><input type="text" name="nom"></td><td class="label">Lieu:</td> <td><input type="text" name="lieu"></td>
                    </tr>
                    <tr><td class="label">Description :</td>
                        <td><input type="text" name="description"></td>
                    </tr>
                    <tr><td class="label">Theme :</td>
                        <td><input type="text" name="theme"></td>
                    </tr>
                    <tr><td class="label">Latitude :</td>
                        <td><input type="float" name="lat" id='lat' ></td>
                    </tr>
                    <tr><td class="label">Longitude :</td>
                        <td><input type="float " name="lng"></td>
                    </tr>

                    <tr><td class="label">Date de début:</td>
                        <td><input type="datetime " name="datedebut"></td><td class="label">Date fin:</td> <td><input type="datetime " name="datefin"></td>
                    </tr>


                    <tr style="display: none"><td class="label">Date :</td>
                        <td><input type="datetime " name="date"></td>
                    </tr>
                    <tr  style="display: none"  >
                        <td align="center">L'utilisateur: </td>
                        <td align="center"> <input type="text " name="user"></td>
                    </tr>
                </table>
                <p>  <input type="submit" value="valider"></p>
                </div>
                </form>

           </center> </div>



{% endblock %}