{% extends "SocialProMainBundle::layout.html.twig" %}
{% block title %} - Afficher Emploi {% endblock %}
{% block contenent %}
    <html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #map {
                height: 100%;
            }
            .controls {
                margin-top: 10px;
                border: 1px solid transparent;
                border-radius: 2px 0 0 2px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                height: 32px;
                outline: none;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            }

            #pac-input {
                background-color: #fff;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                margin-left: 12px;
                padding: 0 11px 0 13px;
                text-overflow: ellipsis;
                width: 300px;
            }

            #pac-input:focus {
                border-color: #4d90fe;
            }

            .pac-container {
                font-family: Roboto;
            }

            #type-selector {
                color: #fff;
                background-color: #4d90fe;
                padding: 5px 11px 0px 11px;
            }

            #type-selector label {
                font-family: Roboto;
                font-size: 13px;
                font-weight: 300;
            }

        </style>
        <title>Places Searchbox</title>
        <style>
            #target {
                width: 345px;
            }
        </style>
    </head>
    <body>
    <center>
        <div style="width: 800px;">
            <marquee> <h2 style="font-size: 14px">veillez preter attention sur le lieu de notre evenement</h2></marquee></div>

        <div style="width: 800px;height: 600px">
                     {% for modele in modele %}
            <input id="pac-input"  value="{{ modele.lieu }}" class="controls" type="text" placeholder="Search Box">
            <div id="map"></div>
            <script>
                // This example adds a search box to a map, using the Google Place Autocomplete
                // feature. People can enter geographical searches. The search box will return a
                // pick list containing a mix of places and predicted search terms.

                function initAutocomplete() {
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: {{ modele.lat }}, lng: {{ modele.lng }} },
                        zoom: 15,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });

                    // Create the search box and link it to the UI element.
                    var input = document.getElementById('pac-input');
                    var searchBox = new google.maps.places.SearchBox(input);
                    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                    // Bias the SearchBox results towards current map's viewport.
                    map.addListener('bounds_changed', function() {
                        searchBox.setBounds(map.getBounds());
                    });

                    var markers = [];
                    // [START region_getplaces]
                    // Listen for the event fired when the user selects a prediction and retrieve
                    // more details for that place.
                    searchBox.addListener('places_changed', function() {
                        var places = searchBox.getPlaces();

                        if (places.length == 0) {
                            return;
                        }

                        // Clear out the old markers.
                        markers.forEach(function(marker) {
                            marker.setMap(null);
                        });
                        markers = [];

                        // For each place, get the icon, name and location.
                        var bounds = new google.maps.LatLngBounds();
                        places.forEach(function(place) {
                            var icon = {
                                url: place.icon,
                                size: new google.maps.Size(71, 71),
                                origin: new google.maps.Point(0, 0),
                                anchor: new google.maps.Point(17, 34),
                                scaledSize: new google.maps.Size(25, 25)
                            };

                            // Create a marker for each place.
                            markers.push(new google.maps.Marker({
                                map: map,
                                icon: icon,
                                title: place.name,
                                position: place.geometry.location
                            }));

                            if (place.geometry.viewport) {
                                // Only geocodes have viewport.
                                bounds.union(place.geometry.viewport);
                            } else {
                                bounds.extend(place.geometry.location);
                            }
                        });
                        map.fitBounds(bounds);
                    });
                    // [END region_getplaces]
                }


            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDST6BTwCnHvix1nBZuWO8SQtpmyu6-ys&libraries=places&callback=initAutocomplete"
                    async defer></script></div></center>{% endfor %}
    <center>
        <div  align="center" class="div" style="margin-top:30px;margin-bottom:30px;margin-left: 15%; margin-right: 15%; padding: 20px; border-radius: 15px; background-color: white; border: solid 1px; border-color: darkgrey;width:900px;">
            <h2>rechecher Evenement</h2>
            {{ form(form) }}
            <h1>Details s Evenement </h1>
            <marquee><p>Veillez lire avec plus d'attention !!!</p></marquee>

            <table class="table table-striped table-advance table-hover">

                <tbody>
                <tr>
                    <th> Nom</th>
                    <th> Nombre de place</th>
                    <th> lieu</th>
                    <th> Réaliser par</th>
                    <td>Fait le</td><td>Action</td>
                </tr>

    {%  for modele in modele%}
                <tr><td>{{ modele.nom }}</td><td>{{  modele.nombrePlace }}</td>
                    <td>{{ modele.lieu }}</td><td>{{  modele.user }}</td> <td style="background-color: mintcream">{{  modele.date|date }}</td><td>
                        <div >
                            <a  href=""><input type="button" value="signer" style="width: 70px;background-color: #2aadde"></a>
                        </div>
                    </td></tr>
                </tbody>


      {% endfor %}

            </table><br>
            <center>
    {%  for modele in modele%}
                <div style="width: 800px"><div style=" background:#21f8f8;border-radius:50%;width:180px;height:100px;border:2px solid #679403;"><h4 align="center">Theme</h4></div>
                    <p>{{ modele.theme }}</p>
                </div>

                <div style="width: 800px"><div style=" background:#21f8f8;border-radius:50%;width:180px;height:100px;border:2px solid #679403;"><h4 align="center">Description</h4></div>
                    <p>{{ modele.description }}</p>
                </div>
    {% endfor %}


            </center>

            <br><br>

        </div></center>
    </body>
    </html>
{% endblock %}