{% extends "SocialProMainBundle::layout.html.twig" %}
{% block title %} - Afficher Emploi {% endblock %}
{% block contenent %}
    <div class="div" style="margin-top:30px;margin-bottom:30px;margin-left: 15%; margin-right: 15%; padding: 20px; border-radius: 15px; background-color: white; border: solid 1px; border-color: darkgrey;">
    <h1>Afficher Une Offre D'Emploi </h1>

    <table class="table table-striped table-advance table-hover">

        <tbody>
        <tr>
            <th> Réalisé par</th>
            <th> Compagnie</th>
            <th> Etat de La Demande</th>
            <th> Fait le  </th><td>Action</td>
        </tr>
        {% for espoir in modele %}

        <tr><td>{{ espoir.user }}</td>
            <td>{{ espoir.idEmploi.nom }}</td>
            <td><a href="">{{ espoir.status }}</a></td> <td style="background-color: mintcream">{{ espoir.date|date }}</td><td>
                <div >
                    <a  href="{{ path('accepterMyPostEmploi',{'id':espoir.id}) }}"><input type="button" value="Accepter" style="width: 90px;background-color: #21f8f8;"></a>
                    <a  href="{{ path('supprimerMyPostEvent',{'id':espoir.id}) }}"><input type="button" value="supprimer" style="width: 90px;background-color: #2aadde"></a>
                    <a  href="{{ path('refuserMyPostEmploi',{'id':espoir.id}) }}"><input type="button" value="Refuser" style="width: 90px;background-color: #FDF5CE"></a>
                </div></td></tr>
        </tbody>



        {% endfor %}



    </table>


    </div><br><br>


{% endblock %}